.header-banner {
  width: 100%;
  background-color: black;
}

#portfolio-title {
  display: flex;
  justify-content: start;
  color: white;
}

#video-title {
  display: flex;
  justify-content: center;
}
