body {
    margin-top: 0;
}


.company-title {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
    height: 70px;
}

.company-title h1 {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    color: red;
}

#nav-bar {
    width: 500px;
    margin: 30px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.navbar-item:link, .navbar-item:visited {
    text-decoration: none;
    color: white;
}

#selection-title {
    display: flex;
    justify-content: center;


}

.animal-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
   
}

#dog-button {
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 70px;
    background-color: red;
}


#dog-button:disabled {
    background-color: red;
    color: black;
}

#monkey-button {
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 70px;
    background-color: red;
}

#monkey-button:disabled {
    background-color: red;
    color: black;
}

#dog-submit {
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    margin: 25px auto;
}

#monkey-submit {
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    margin: 25px auto;
}

#dog-intake-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25px auto;
    width: 300px;
}

#intake-form-dog {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#intake-form-monkey {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dog-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.monkey-form {
    margin-top: 10px;
    margin-bottom: 20px;
}

#monkey-intake-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 25px auto;
    width: 300px;
}

#dog-name {
    width: 292;
}

#dog-breed {
    width: 292px;
}


#monkey-name {
    width: 292;
}

#monkey-breed {
    width: 292px;
}


/* stying for the table*/

#dogTableTitle, #monkeyTableTitle {
    margin: 30px;
}

#dog-table-div, #monkey-table-div{
    margin: 30px;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: auto;
}
td {
    text-align: center;
}

th {
    width: 10%;
    text-align: left;
}